anyio
asgiref
certifi
charset-normalizer
click
fastapi
filelock
h11
huggingface-hub
idna
numpy
packaging
Pillow
pydantic
pyparsing
PyYAML
regex
requests
sniffio
starlette
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
urllib3
uvicorn
